# required
flaskz                  # flask+sqlalchemy+requests
Flask-Login             # User Login Management
alembic                 # DB Structure

# optional
pycryptodome            # RSA&AES 

# pymysql               # mysql driver
# redis                 # redis
# websockets            # websocket
# flask-cors            # CORS